#Environment
.env
.env.*

#Python
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

#Frontend (Vite)
node_modules/
dist/
.vite/

# AI / Data
chroma_db/
*.db
*.sqlite3
*.parquet


# Database dumps
*.sql
*.dump

#Docker
*.log
docker-compose.override.yml

#IDE
.vscode/
.idea/

#OS
.DS_Store
Thumbs.db

#Temp files
*.tmp
*.temp

#Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid